{{ partial "default_head.html" . }}

<ul id="post-list">
  {{ range first 5 (where .Data.Pages "Section" "post") }}
    {{ .Render "li" }}
  {{ end }}
</ul>

<footer id="post-list-footer">
  <a id="archive-link" href="/post"> <span class="arrow">&larr;</span> Older posts</a>
</footer>

<footer id="about-me">
  <p align="center">
    I'm <a href="https://twitter.com/mateuszkarwat">Mateusz Karwat</a> and I love <a href="https://swift.org">Swift</a>. Read more <a href="/page/about">about me</a>.
  </p>
</footer>
